# =========================
# Build output
# =========================
obj/
build/
*.o
*.exe
*.out

# =========================
# Logs / temp
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Optional: compiled assets
# =========================
*.dll